################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenRestRestaurant.Server/OpenRestRestaurant-tests/bin/Debug/net7.0
